services:
  bettershift:
    image: ghcr.io/pantelx/bettershift:latest
    # Or build the image locally using the Dockerfile
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    container_name: bettershift
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - ./data:/app/data
    env_file:
      - .env
